// variable fonts

@font-face {
    font-family: Eudoxus Sans;
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf") format("ttf"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff") format("woff"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff2")
            format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: Eudoxus Sans;
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("ttf"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("woff"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: Eudoxus Sans;
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf") format("ttf"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff")
            format("woff"),
        url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff2")
            format("woff2");
    font-weight: normal;
}
//variable color
$color-borrow: #ad7e5c;
$secondary-color: #ffb23f;
$primary-color: #518581;
$title-color: #151411;
$paragraph-color: #afadb5;
$line-screen-color: #f3f3f3;
h1 {
    font-size: 26px;
    font-weight: bold;
    color: $title-color;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: $title-color;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    color: $title-color;
}
h4 {
    font-size: 14px;
    font-weight: bold;
}
h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 130%;
}

// component styles
.card {
    padding: 16px;
    margin-bottom: 20px;
    background-color: white;
    &__icon {
        width: 44px;
        margin-bottom: 14px;
    }
    &__title {
        margin-bottom: 6px;
    }
    &__review {
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        &__item {
            display: flex;
            gap: 14px;
            align-items: center;
            img {
                width: 8vw;
                min-width: 18px;
                max-width: 50px;
            }
        }
    }
}

.btn {
    border: none;
    padding: 10px;
    font-weight: bold;
}
.btn--primary {
    background-color: $primary-color;
    color: white;
}
.btn-square-primary {
    width: 70px;
    height: 70px;
    background-color: $primary-color;
    padding: 0 !important;
}
.btn-square-white {
    width: 70px;
    height: 70px;
    background-color: white;
    padding: 0 !important;
}
.text--p1 {
    font-size: 18;
    font-weight: 500;
}
.text--yellow {
    color: $secondary-color;
}

.text--center {
    text-align: center;
}

.icon-arrow-right-long {
    background-image: url("../images/arrow-right-long.png");
    width: 70px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}
.icon-arrow-left {
    background-image: url("../images/arrow-left.png");
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}
.icon-arrow-right {
    background-image: url("../images/arrow-right.png");
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}

// css body
body {
    font-family: Eudoxus Sans;
    font-weight: 500;
    color: $paragraph-color;
    background-color: #fafafa;
    font-size: 14px;
    min-width: 375px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 375px;
    height: 72px;
    margin: 0 auto;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 50px;
    max-width: 100%;
}
.container {
    padding: 0 6.4%;
    margin: 0 auto;
}

.navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: $title-color;
    &__btn-toggle {
        background-image: url("../images/btn-menu.png");
        top: 21px;
        right: 24px;
        width: 30px;
        height: 30px;
        position: absolute;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: bold;
    }
    &__menu {
        display: none;
    }
    &__features {
        display: none;
    }
    li {
        list-style: none;
    }
}
// hero section
.hero {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    &__heading {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
        font-size: 26px;
        font-weight: bold;
        &__start {
            background-image: url("../images/hero-start.png");
            width: 24px;
            height: 24px;
            background-size: contain;
            position: absolute;
            right: 9px;
            top: 29px;
        }
        &__arrow {
            background-image: url("../images/hero-arrow.png");
            width: 83.43px;
            height: 83.43px;
            background-size: contain;
            right: 255px;
            position: absolute;
            top: 5px;
        }
    }

    &__description {
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 85%;
    }
    &__search-bar {
        width: 100%;
        height: 54px;
        background-color: white;
        padding: 8px;
        margin: 0 auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        &__icon {
            align-self: center;
            display: flex;
            width: 24px;
        }
        input {
            font-weight: bold;
            padding: 0 15px;
            border: none;
            outline: none;
        }
        button {
            padding: 10px 10%;
        }
    }
    &__image {
        margin: 0 auto;
        img {
            min-height: 160px;
        }
    }
}

.section {
    width: 100%;
    margin-bottom: 100px;
    &__title {
        margin-bottom: 30px;
        &--small {
            color: $secondary-color;
        }
    }
    &__content {
        div:nth-last-child(1) {
            margin-bottom: 0 !important;
        }
    }
}

/* ----- slick-slider -----*/
.slick-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    &__item {
        position: absolute;
        width: 50vw;
        height: auto;
        img {
            width: 100%;
            height: 50vw;
            object-fit: cover;
        }
        &__text {
            margin-top: 14px;
            p {
                margin-bottom: 6px;
            }
            &--title {
                h3 {
                    margin-bottom: 4px;
                }
                margin-bottom: 12px;
            }
        }
    }
}
/* ----- article -----*/
.article-list {
    .card {
        padding: 0;
    }
}

.article-item {
    display: flex;
    gap: 14px;
    position: relative;
    background-color: initial;
    &__img {
        flex: 1;
        height: auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        flex: 2;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding: 2% 0;
        &--catalogue {
            font-size: 12px;
            max-width: 100%;
            font-weight: bold;
        }
        &--title {
            max-width: 100%;
            font-size: 16px;
            color: $title-color;
        }
    }
}

.article-feature {
    color: white;
    background-color: initial;

    &__img {
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
            height: 55vw;
        }
    }
    &__text {
        max-width: 100%;
        position: absolute;
        bottom: 0;
        padding: 5%;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        flex-direction: column;
        &--catalogue {
            font-size: 12px;
            font-weight: bold;
        }
        &--title {
            font-size: 16px;
            color: white;
        }
        &--summary {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--more {
            margin-top: 12px;
            font-size: 12px;
            font-weight: 700;
        }
    }
}

//our-product

#our-product {
    button {
        width: 100%;
        padding: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .card {
        padding: 0;
    }
}

//
.info-bar {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    justify-content: space-between;
    &__item {
        height: max-content;
        &--title {
            margin-bottom: 4px;
            font-size: 22px;
        }
        &--sub-title {
            white-space: nowrap;
            font-weight: 500;
        }
    }
}

.icon-start {
    background-image: url("../images/icon-start.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.ads {
    margin-bottom: 50px;
}

footer {
    margin: 0 6.4%;
    padding: 20px 0;
    border-top: 1.5px solid #ece4de;
    .navbar {
        color: $paragraph-color;
        flex-direction: column;
        font-weight: 500;
        li {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        &__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__item:first-child {
                font-size: 16px;
                font-weight: bold;
                color: $title-color;
                margin-bottom: 8px;
            }
        }
        &__logo {
            margin-bottom: 20px;
            color: $title-color;
        }
        &__description {
            margin-bottom: 30px;
        }
    }
}
.display-none-moblie {
    display: none;
}
.pagination {
    display: none;
}
.action {
    border-bottom: 2px solid $primary-color;
    height: 100%;
}
