@font-face {
  font-family: Eudoxus Sans;
  src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf") format("ttf"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff") format("woff"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Eudoxus Sans;
  src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("ttf"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("woff"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: Eudoxus Sans;
  src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf") format("ttf"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff") format("woff"), url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff2") format("woff2");
  font-weight: normal;
}
h1 {
  font-size: 26px;
  font-weight: bold;
  color: #151411;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #151411;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #151411;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  color: #151411;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #151411;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 130%;
}

.card {
  padding: 16px;
  margin-bottom: 20px;
  background-color: white;
}
.card img {
  width: 100%;
}
.card__icon {
  width: 44px;
  margin-bottom: 14px;
}
.card__title {
  margin-bottom: 6px;
}
.card__review {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}
.card__review__item {
  display: flex;
  gap: 14px;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}
.card__review__item h5 {
  margin-bottom: 0;
}
.card__review__item img {
  width: 8vw;
  height: 8vw;
  min-width: 18px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.card__review__item > p {
  display: none;
}

.auth {
  display: flex;
  gap: 5px;
  align-items: center;
}

.col-1 {
  width: 8.33%;
  flex: 0 0 auto;
}

.col-2 {
  width: 16.66%;
  flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-4 {
  width: 33.33%;
  flex: 0 0 auto;
}

.col-5 {
  width: 41.66%;
  flex: 0 0 auto;
}

.col-6 {
  width: 47.5%;
  flex: 0 0 auto;
}

.col-7 {
  width: 58.33%;
  flex: 0 0 auto;
}

.col-8 {
  width: 66.66%;
  flex: 0 0 auto;
}

.col-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-10 {
  width: 83.33%;
  flex: 0 0 auto;
}

.col-11 {
  width: 91.66%;
  flex: 0 0 auto;
}

.col-12 {
  width: 100%;
  flex: 0 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-between;
}

.row > * {
  flex-shrink: 0;
  max-width: 100%;
}

.btn {
  border: none;
  padding: 10px;
  font-weight: bold;
}

.btn--primary {
  background-color: #518581;
  color: white;
}

.btn-square-primary {
  width: 70px;
  height: 70px;
  background-color: #518581;
  padding: 0 !important;
}

.btn-square-white {
  width: 70px;
  height: 70px;
  background-color: white;
  padding: 0 !important;
}

.btn--full-width {
  padding: 15px;
  width: 100%;
}

.btn--white {
  border: 2px solid #f3f3f3;
  background-color: #fff;
}

.text--p1 {
  font-size: 18;
  font-weight: 500;
}

.text--yellow {
  color: #ffb23f;
}

.text--center {
  text-align: center;
}

.icon-arrow-right-long {
  background-image: url("../images/arrow-right-long.png");
  width: 25px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.icon-arrow-left {
  background-image: url("../images/arrow-left.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.icon-arrow-right {
  background-image: url("../images/arrow-right.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.icon-arrow-left-2 {
  background-image: url("../images/icon/arrow-left.png");
  width: 38px;
  height: 38px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-arrow-right-2 {
  background-image: url("../images/icon/arrow-right.png");
  width: 38px;
  height: 38px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: Eudoxus Sans;
  font-weight: 500;
  color: #afadb5;
  background-color: #fafafa;
  font-size: 14px;
  min-width: 375px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  min-width: 375px;
  height: 72px;
  margin: 0 auto;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 50px;
  max-width: 100%;
}

.container {
  padding: 0 6.4%;
  margin: 0 auto;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #151411;
}
.navbar__btn-toggle {
  background-image: url("../images/btn-menu.png");
  top: 21px;
  right: 24px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}
.navbar__menu {
  display: none;
}
.navbar__features {
  display: none;
}
.navbar li {
  list-style: none;
}

.hero {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.hero__heading {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  font-size: 26px;
  font-weight: bold;
}
.hero__heading__start {
  background-image: url("../images/hero-start.png");
  width: 24px;
  height: 24px;
  background-size: contain;
  position: absolute;
  right: 9px;
  top: 29px;
}
.hero__heading__arrow {
  background-image: url("../images/hero-arrow.png");
  width: 83.43px;
  height: 83.43px;
  background-size: contain;
  right: 255px;
  position: absolute;
  top: 5px;
}
.hero__description {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 85%;
}
.hero__search-bar {
  width: 100%;
  height: 54px;
  background-color: white;
  padding: 8px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.hero__search-bar__icon {
  align-self: center;
  display: flex;
  width: 24px;
}
.hero__search-bar input {
  font-weight: bold;
  padding: 0 15px;
  border: none;
  outline: none;
}
.hero__search-bar button {
  padding: 10px 10%;
}
.hero__image {
  margin: 0 auto;
}
.hero__image > img {
  min-height: 160px;
}

.section {
  width: 100%;
  margin-bottom: 100px;
}
.section__title {
  margin-bottom: 30px;
}
.section__title--small {
  color: #ffb23f;
}
.section__content > div:nth-last-child(1) {
  margin-bottom: 0;
}

/* ----- slick-slider -----*/
.slick-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slick-slider__item {
  position: absolute;
  width: 50vw;
  height: auto;
}
.slick-slider__item img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}
.slick-slider__item__text {
  margin-top: 14px;
}
.slick-slider__item__text p {
  margin-bottom: 6px;
}
.slick-slider__item__text--title {
  margin-bottom: 12px;
}
.slick-slider__item__text--title h3 {
  margin-bottom: 4px;
}

/* ----- article -----*/
.article-list .card {
  padding: 0;
}

.article-item {
  display: flex;
  gap: 14px;
  position: relative;
  background-color: initial;
}
.article-item__img {
  flex: 1;
  height: auto;
}
.article-item__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.article-item__text {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 2% 0;
}
.article-item__text--catalogue {
  font-size: 12px;
  max-width: 100%;
  font-weight: bold;
}
.article-item__text--title {
  max-width: 100%;
  font-size: 16px;
  color: #151411;
}

.article-feature {
  color: white;
  background-color: initial;
}
.article-feature__img {
  position: relative;
}
.article-feature__img img {
  width: 100%;
  object-fit: cover;
}
.article-feature__text {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  flex-direction: column;
}
.article-feature__text--catalogue {
  font-size: 12px;
  font-weight: bold;
}
.article-feature__text--title {
  font-size: 16px;
  color: white;
}
.article-feature__text--summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.7;
}
.article-feature__text--more {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 700;
}

#our-product button {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
#our-product .card {
  padding: 0;
}

#testimonials {
  padding: 0 6.4%;
}

.info-bar {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.info-bar__item {
  height: max-content;
}
.info-bar__item--title {
  margin-bottom: 4px;
  font-size: 22px;
}
.info-bar__item--sub-title {
  white-space: nowrap;
  font-weight: 500;
}

.icon-start {
  background-image: url("../images/icon-start.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.ads {
  margin-bottom: 50px;
}
.ads h4 {
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  margin: 0 6.4%;
  padding: 20px 0;
  border-top: 1.5px solid #ece4de;
}
footer .navbar {
  color: #afadb5;
  flex-direction: column;
  font-weight: 500;
}
footer .navbar li {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .navbar__menu__item:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #151411;
  margin-bottom: 8px;
  text-align: center;
}
footer .navbar__logo {
  margin-bottom: 20px;
  color: #151411;
}
footer .navbar__description {
  margin-bottom: 30px;
  max-width: 505px;
}

.display-none-moblie {
  display: none;
}

.pagination {
  display: none;
}

.active {
  border-bottom: 2px solid #518581;
  height: 100%;
}

.icon-arrow-left-not-tail {
  background-image: url("../images/arrow-left-not-tail.png");
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(21, 20, 17, 0.6);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-arrow-right-not-tail {
  background-image: url("../images/arrow-right-not-tail.png");
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(21, 20, 17, 0.6);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 54px;
}
.carousel__item {
  display: none;
  width: 100%;
  height: auto;
}
.carousel__item > img {
  object-fit: cover;
  height: 180px;
}
.carousel__item__text {
  text-align: left;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.carousel__item__text h3 {
  color: white;
}
.carousel__item__text button {
  width: 64px;
  height: 25px;
  border-radius: 16px;
  font-size: 10px;
  padding: 6px;
}
.carousel__item__text button a {
  display: inline-block;
  width: 100%;
}
.carousel__item__text p {
  max-width: 80%;
}
.carousel__control {
  width: 100%;
  height: 100%;
}
.carousel__control button {
  border: none;
  background-color: inherit;
  bottom: 45%;
  display: none;
}
.carousel__control--prev {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.carousel__control--next {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.carousel__control--dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sort {
  display: none;
}

.tab-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tab-bar__item {
  padding: 15px;
  margin-bottom: 0;
  color: inherit;
}
.tab-bar .selected {
  color: initial;
  background-color: rgba(175, 173, 181, 0.15);
}

.load-more {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
